---
layout: layouts/cv.njk
title: Curriculum Vitae
language: pt-br
---

<section class="cover-letter">  
  <p>Hello,</p>
  <p>
    My name is Max and I am a software engineer with over 8 years of experience
    in the field. I received my Master's degree in Computer Science on the 
    State University of Maringá, one of the Top 2% universities of Brazil.
    Since then, I have always been passionate about using technology to solve
    complex problems and make a positive impact in the world.
  </p>
  <p>
    Throughout my career, I have had the opportunity to work on a wide range of
    projects, from developing web and mobile applications to implementing some
    embed systems. My main tech stack includes Javascript, Node.js, React and
    SQL databases. I also have worked with Python, Java and C. I am always
    eager to learn and explore new technologies to find the best solution for
    each project.
  </p>
  <p>
    I am always looking for new opportunities to use my skills and expertise to
    make a difference and I am particularly passionate about using the web
    platform to solve real-world problems. Whether it's developing new software
    solutions, cutting-edge machine learning models or implementing low-level
    systems on embed devices, I am always excited to take on new challenges and
    make a positive impact.
  </p>
  <p>
    I look forward to working with you and helping you achieve your goals.
  </p>
  <hr class="hdivider"/>
  <footer class="languages">
    <a class="button" href="/cv/en" lang="en">English</a>
    <a class="button" href="/cv/pt" lang="pt-br">Português</a>
  </div>
</section>

<button
  class="fixed-button fixed-button--print"
  id="print-button"
  aria-label="Print"
  title="Print"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="1em"
    height="1em"
    viewBox="0 0 512 512"
  >
    <path
      fill="currentColor"
      d="M128 0C92.7 0 64 28.7 64 64v96h64V64h226.7L384 93.3V160h64V93.3c0-17-6.7-33.3-18.7-45.3L400 18.7C388 6.7 371.7 0 354.7 0zm256 352v96H128v-96zm64 32h32c17.7 0 32-14.3 32-32v-96c0-35.3-28.7-64-64-64H64c-35.3 0-64 28.7-64 64v96c0 17.7 14.3 32 32 32h32v64c0 35.3 28.7 64 64 64h256c35.3 0 64-28.7 64-64zm-16-136a24 24 0 1 1 0 48a24 24 0 1 1 0-48"
    />
  </svg>
</button>
