---
layout: layouts/cv.njk
title: Curriculum Vitae
language: pt-br
---

<div class="languages">
  <a class="button" href="/cv/en" lang="en">English</a>
  <a class="button" href="/cv/pt" lang="pt-br">Português</a>
</div>
