{% extends './page.njk' %}
{% block pagecontent %}
  <ol class="entry-list">
    {%- for post in pagination.items -%}
      <li class="entry">
        <div class="entry__date">
          <time class="entry-date" datetime="{{ post.date | formatDate('yyyy-MM-dd') }}">
            <span class="entry-date__weekday">{{ post.date | formatDate("cccc") }}</span>
            <span class="entry-date__date">
              <span class="hdate__monthday">{{ post.date | formatDate("d") }}</span>
              de
              <span class="hdate__month">{{ post.date | formatDate("MMMM") }}</span>
              de
              <span class="hdate__year">{{ post.date | formatDate("yyyy") }}</span>
            </span>
          </time>
        </div>
        <a href="{{ post.url }}" class="entry__header" title="Clique para ir para a publicação">
          <h2 class="entry-title">
            {% if post.data.title and post.data.subtitle %}
              {{ post.data.title | safe }}:
              {{ post.data.subtitle | safe }}
            {% else %}
              {{ post.data.title | safe }}
            {% endif %}
          </h2>
          {% if post.data.heading %}
            <p class="entry-heading">{{ post.data.heading | safe }}</p>
          {% endif %}
        </a>
      </li>
    {%- endfor -%}
  </ol>
  <nav>
    <ul class="page-nav">
      {% if pagination.pageNumber == 0 %}
        <li class="page-nav-item">
          <a class="nav-icon nav-icon--first nav-icon--disabled"></a>
        </li>
        <li class="page-nav-item">
          <a class="nav-icon nav-icon--previous nav-icon--disabled"></a>
        </li>
      {% else %}
        <li class="page-nav-item">
          <a class="nav-icon nav-icon--first" href="{{ pagination.href.first }}" rel="first" title="Primeira Página"></a>
        </li>
        <li class="page-nav-item">
          <a class="nav-icon nav-icon--previous" href="{{ pagination.href.previous }}" rel="prev" title="Página Anterior"></a>
        </li>
      {% endif %}
      <li class="page-nav-item page-nav-item--current">
        Página
        {{ pagination.pageNumber + 1 }}
      </li>
      {% if (pagination.pageNumber + 1) == pagination.hrefs.length %}
        <li class="page-nav-item">
          <a class="nav-icon nav-icon--next nav-icon--disabled"></a>
        </li>
        <li class="page-nav-item">
          <a class="nav-icon nav-icon--last nav-icon--disabled"></a>
        </li>
      {% else %}
        <li class="page-nav-item">
          <a class="nav-icon nav-icon--next" href="{{ pagination.href.next }}" rel="next" title="Próxima Página"></a>
        </li>
        <li class="page-nav-item">
          <a class="nav-icon nav-icon--last" href="{{ pagination.href.last }}" rel="last" title="Última Página"></a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endblock pagecontent %}