{% extends './base.njk' %}

{% block main %}
  <main class="home">
    <div class="personal">
      <div class="avatar">
        <div class="avatar-photo"></div>
      </div>
      <h2 class="personal__name">{{ site.author.name }}</h2>
      <p class="personal__bio">{{ site.author.description }}</p>
      <ul class="personal__links">
        {% if site.github %}
          <li>
            <a href="https://github.com/{{ site.github }}">
              <span class="fab fa-github-square"></span>
            </a>
          </li>
        {% endif %}
        {% if site.twitter %}
          <li>
            <a href="https://twitter.com/{{site.twitter}}">
              <span class="fab fa-twitter-square"></span>
            </a>
          </li>
        {% endif %}
        {% if site.linkedin %}
          <li>
            <a href="https://www.linkedin.com/in/{{site.linkedin}}">
              <span class="fab fa-linkedin"></span>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </main>
{% endblock main %}