{% extends './base.njk' %}
{% block meta %}
  <meta name="description" content="{{ heading }}"/>
  <meta name="author" content="{{ site.author.name }}"/>
  <meta name="generator" content="11ty 0.10.0"/>
  <meta property="article:published_time" content="{{ created | formatDate }}"/>
  {% for tag in tags %}
    <meta property="article:tag" content="{{ tag }}"/>
  {% endfor %}
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="{{ site.rootURI }}/images/meta-og.jpg"/>
  <meta property="og:image:alt" content="{{ site.description }}"/>
  <meta property="og:site_name" content="{{ site.name }}"/>
  <meta property="og:title" content="{{ completetitle }}"/>
  <meta property="og:description" content="{{ heading }}"/>
  <meta property="og:url" content="{{ site.rootURI }}{{ page.url }}"/>
  <meta name="twitter:card" content="summary_large_image"/>
  {% if site.twitter %}
    <meta name="twitter:creator" content="@{{ site.twitter }}"/>
  {% endif %}
  <meta name="twitter:image:src" content="{{ site.rootURI }}/images/meta-image.png"/>
  <meta name="twitter:title" content="{{ completetitle }}"/>
  <meta name="twitter:description" content="{{ heading }}"/>
  <meta name="twitter:url" content="{{ site.rootURI }}{{ page.url }}"/>
  
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "url": "{{ site.rootURI }}{{ page.url }}",
      "mainEntityOfPage": "{{ site.rootURI }}{{ page.url }}",
      "name": "{{ completetitle }}",
      "description": "{{ heading }}",
      "headline": "{{ heading }}",
      "datePublished": "{{ created | formatDate }}",
      "dateModified": "{{ site.buildTime | formatDate }}",
      "license": "https://creativecommons.org/licenses/by/4.0/legalcode",
      "author": {
        "@type": "Person",
        "name": "{{ site.author.name }}",
        "url": "{{ site.rootURI }}",
        "description": "{{ site.author.description }}"
      },
      "maintainer": {
        "@type": "Person",
        "name": "{{ site.author.name }}",
        "url": "{{ site.rootURI }}",
        "description": "{{ site.author.description }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "{{ site.name }}",
        "url": "{{ site.rootURI }}",
        "description": "{{ site.description }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ site.rootURI }}/images/meta-logo.png",
          "width": "700 px",
          "height": "95 px"
        }
      },
      "image": {
        "@type": "ImageObject",
        "url": "{{ site.rootURI }}/images/meta-image.png",
        "width": "800 px",
        "height": "400 px"
      }
    }
  </script>
{% endblock meta %}
{% block main %}
  <main class="blog-entry">
    <header class="blog-header">
      <h1 class="blog-title">
        {{ title | safe }}
        {% if subtitle %}
          <br/>
          <small class="blog-title__subtitle">
            {{ subtitle | safe }}
          </small>
        {% endif %}
      </h1>
      {% if heading %}
        <p class="blog-heading">
          {{ heading | safe }}
        </p>
      {% endif %}
      <div class="blog-details">
        {% if updated %}
          <div class="blog-details__date">
            Publicado:
            <time class="hdate" datetime="{{ created | formatDate('yyyy-MM-dd') }}">
              <span class="hdate__weekday">{{ created | formatDate("cccc") }}</span>,
              <span class="hdate__monthday">{{ created | formatDate("d") }}</span>
              de
              <span class="hdate__month">{{ created | formatDate("MMMM") }}</span>
              de
              <span class="hdate__year">{{ created | formatDate("yyyy") }}</span>
            </time>
          </div>
          <div class="blog-details__date">
            Atualizado:
            <time class="hdate" datetime="{{ updated | formatDate('yyyy-MM-dd') }}">
              <span class="hdate__weekday">{{ updated | formatDate("cccc") }}</span>,
              <span class="hdate__monthday">{{ updated | formatDate("d") }}</span>
              de
              <span class="hdate__month">{{ updated | formatDate("MMMM") }}</span>
              de
              <span class="hdate__year">{{ updated | formatDate("yyyy") }}</span>
            </time>
          </div>
        {% else %}
          <div class="blog-details__date">
            <time class="hdate" datetime="{{ created | formatDate('yyyy-MM-dd') }}">
              <span class="hdate__weekday">{{ created | formatDate("cccc") }}</span>,
              <span class="hdate__monthday">{{ created | formatDate("d") }}</span>
              de
              <span class="hdate__month">{{ created | formatDate("MMMM") }}</span>
              de
              <span class="hdate__year">{{ created | formatDate("yyyy") }}</span>
            </time>
          </div>
        {% endif %}
        <ul class="blog-details__tags">
          {% for tag in tags %}
            <li class="blog-details__tags__tag">
              <a href="/tags/{{ tag }}" rel="tag">{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </header>
    <section class="blog-content">
      {{ content | safe }}
    </section>
    <footer class="personal personal--small">
      <div class="avatar avatar--small">
        <div class="avatar-photo"></div>
      </div>
      <h2 class="personal__name personal__name--small">Max Naegeler Roecker</h2>
      <p class="personal__bio personal__bio--small">Mestre em Ciência da Computação & Desenvolvedor de Software</p>
      <ul class="personal__links personal__links--small">
        {% if site.github %}
          <li>
            <a href="https://github.com/{{ site.github }}">
              <span class="fab fa-github-square"></span>
            </a>
          </li>
        {% endif %}
        {% if site.twitter %}
          <li>
            <a href="https://twitter.com/{{ site.twitter }}">
              <span class="fab fa-twitter-square"></span>
            </a>
          </li>
        {% endif %}
        {% if site.linkedin %}
          <li>
            <a href="https://www.linkedin.com/in/{{ site.linkedin }}">
              <span class="fab fa-linkedin"></span>
            </a>
          </li>
        {% endif %}
      </ul>
    </footer>
  </main>
{% endblock main %}