{% extends './page.njk' %}

{% set subtitle = tag %}

{% block pagecontent %}
  <ol class="entry-list">
    {%- for post in collections[tag] -%}
      <li class="entry">
        <div class="entry__date">
          <time class="entry-date" datetime="{{ post.date | formatDate('yyyy-MM-dd') }}">
            <span class="entry-date__weekday">{{ post.date | formatDate("cccc") }}</span>
            <span class="entry-date__date">
              <span class="hdate__monthday">{{ post.date | formatDate("d") }}</span>
              de
              <span class="hdate__month">{{ post.date | formatDate("MMMM") }}</span>
              de
              <span class="hdate__year">{{ post.date | formatDate("yyyy") }}</span>
            </span>
          </time>
        </div>
        <a href="{{post.url}}" class="entry__header" title="Clique para ir para a publicação">
          <h2 class="entry-title">
            {% if post.data.title and post.data.subtitle %}
              {{ post.data.title | safe }}:
              {{post.data.subtitle | safe }}
            {% else %}
              {{ post.data.title | safe }}
            {% endif %}
          </h2>
          {% if post.data.heading %}
            <p class="entry-heading">{{ post.data.heading | safe }}</p>
          {% endif %}
        </a>
      </li>
    {%- endfor -%}
  </ol>
{% endblock pagecontent %}