/* Theme */

html {
  background-color: var(--base-50);
  font-size: 16px;
}

body {
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem;
  background-color: var(--base-0);
  font-family: var(--font-industrial);
  font-size: 1rem;
  color: var(--base-1000);
}

@media screen and (min-width: 768px) {
  body {
    width: 49.625rem;
    height: 70.1875rem;
    margin: 2.75rem auto;
    box-shadow: var(--base-150) 0.25rem 0.25rem 0rem;
    border-color: var(--base-150);
    border-style: solid;
    border-width: 0.0625rem;
    padding: 2.75rem;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 1.5em;
  width: 100%;
  height: 4rem;
  margin: 0;
}

.head1,
.head2,
.head3 {
  margin: 1em 0;
  padding: 0;
  font-family: var(--font-industrial);
  color: var(--base-1000);
}

.head1 {
  font-size: 1.5rem;
  font-weight: 400;
}

.head2 {
  margin: 2em 0 1.5em 0;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
}

.head3 {
  margin: 1.25em 0 0.125em 0;
  font-size: 1.125rem;
  font-weight: 400;
}

.lead {
  margin: 0.125em 0;
  font-size: 0rem;
  font-size: 0.9375rem;
  font-weight: 400;
}

.lead .muted {
  font-weight: 300;
}

.columns {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
}

@media print {
  .columns {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
}

.columns__col {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .columns__col {
    width: calc(50% - 1rem);
  }
}

.divider::after {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  content: '·';
  text-align: center;
}

.paragraph {
  margin: 0.5em 0;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.15;
  hyphens: auto;
}

.achievements {
  margin: 0.5em 0 1em 0;
  padding: 0 0 0 1em;
  font-size: 0.9375rem;
  font-weight: 300;
  list-style: disc;
}
.achievements__item {
  display: list-item;
  gap: 0.5em;
  margin: 0.5em 0;
  padding: 0;
  line-height: 1.15;
  hyphens: auto;
}

.taglist {
  font-size: 0.9375rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
.taglist__tag {
  display: inline-block;
  margin: 0.25em 0.875em;
}

.contact {
  font-size: 1rem;
  font-style: normal;
  margin: 0.5em 0 1em 0;
  padding: 0;
  font-size: 0.9375rem;
  font-weight: 300;
  list-style: none;
}
.contact__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  margin: 0.5em 0;
  padding: 0 0 0;
  line-height: 1;
  hyphens: auto;

  list-style-position: outside;
}
.contact__item a:any-link {
  color: currentColor;
  text-decoration: none;
}

.languages {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  align-items: stretch;
  justify-content: space-evenly;
  width: 50%;
  height: 50vh;
  margin: 0 auto;
}

.button {
  display: block;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  background-color: var(--base-1000);
  color: var(--base-0);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
}
.button:hover {
  background-color: var(--base-950);
  outline: none;
}
.button:focus-visible {
  outline: var(--base-300) solid 0.125rem;
  outline-offset: 0.125rem;
}
.button:active {
  background-color: var(--base-900);
}

.fixed-button {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  background-color: var(--base-1000);
  border: none;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  color: var(--base-0);
  cursor: pointer;
}
.fixed-button:hover {
  background-color: var(--base-950);
  outline: none;
}
.fixed-button:focus-visible {
  outline: var(--base-300) solid 0.125rem;
  outline-offset: 0.125rem;
}
.fixed-button:active {
  background-color: var(--base-900);
}

.fixed-button.fixed-button--print {
  bottom: 3rem;
  right: 2rem;
  font-size: 1.5rem;
}

.fixed-button.fixed-button--lang {
  bottom: 7rem;
  right: 2rem;
}
