body {
  min-height: 100vh;
  background: var(--bg-1);
  color: var(--tx-1);
  font-size: var(--font-size, 16px);
  font-family: var(--font-default);
  font-weight: normal;
  text-rendering: geometricPrecision;
}

::-moz-selection {
  background-color: var(--tx-1);
  color: var(--bg-1);
}

::selection {
  background-color: var(--tx-1);
  color: var(--bg-1);
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
main {
  flex-grow: 1;
  text-align: justify;
  font-size: 1.125rem;
}
main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  margin: 2.5em 0 1em 0;
  font-weight: normal;
  font-variant: small-caps;
  text-align: center;
}
main p {
  margin: 2em 0;
  line-height: 1.5;
  text-indent: 2em;
  word-spacing: normal;
  hyphens: auto;
}
main ul,
main ol {
  margin: 2em 0 2em 2em;
}
main li {
  margin: 1em 0;
  hyphens: auto;
}
main aside {
  margin: 1em 0 1em 2.2222222em;
  padding: 0.125em 0 0.125em 2.2222222em;
  border-left-style: solid;
  border-left-color: var(--tx-3);
  border-left-width: 0.25em;
  font-size: 0.9090909091em;
  line-height: 1.5;
}
main aside > p {
  margin: 0.5em 0;
  text-indent: 0;
  hyphens: auto;
}
@media (min-width: 740px) {
  main {
    font-size: 1.375rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  min-height: 100vh;
}
@media (min-width: 740px) {
  .container {
    width: 600px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 700px;
  }
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul,
ol {
  padding-left: 1em;
}

blockquote {
  position: relative;
  margin: 1em 0 1em 2em;
  padding: 0.5em 0 0.5em 2em;
  font-size: 0.9545454546em;
}
blockquote > p {
  margin: 0 0 0.5em 0;
  font-style: italic;
  text-indent: 0;
}
blockquote > footer {
  line-height: 1;
  font-size: 0.8571428571em;
}
blockquote > footer::before {
  content: '— ';
}
blockquote::before {
  position: absolute;
  display: block;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 4em;
  font-weight: bold;
  color: var(--tx-3);
  content: '“';
}
figure {
  display: block;
  padding: 0;
  margin: 0;
  margin: 2em 0;
}
figure > img,
figure > object,
figure > picture > img,
figure > picture > object {
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
  max-width: 100%;
  min-width: 100%;
  object-fit: contain;
}
figure > figcaption {
  display: block;
  padding: 1em 2.5em;
  text-align: justify;
  line-height: 1.25;
  hyphens: auto;
  font-size: 1rem;
}
figure > figcaption.center {
  text-align: center;
}
a:link,
a:visited {
  color: var(--tx-2);
  text-decoration-style: solid;
  text-decoration-line: 0.0625rem;
  text-decoration-color: var(--tx-3);
  transition-property: color, text-decoration;
  transition-duration: 256ms;
  transition-timing-function: ease-out;
  transition-delay: 0ms;
}
a:hover {
  color: var(--tx-1);
}
a:focus {
  color: var(--tx-1);
  text-decoration-color: var(--tx-1);
  outline: solid 2px transparent;
  outline-offset: 2px;
}
a:focus-visible {
  outline: solid 2px var(--bd-3);
  outline-offset: 2px;
}
code {
  border-radius: 0.25em;
  padding: 0.25em 0.375em 0.25em 0.375em;
  background-color: var(--bg-2);
  white-space: nowrap;
  font-family: var(--font-code);
  font-size: 0.75em;
  color: var(--tx-1);
}
pre {
  padding: 1rem;
  border-radius: 0rem;
  overflow: auto;
  background-color: var(--bg-2);
  font-size: 0.875rem;
  line-height: 1.25;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  hyphens: none;
}
pre > code,
pre > samp,
pre > kbd {
  font-size: 1em;
  border-style: none;
  background-color: transparent;
  padding: 0;
  color: var(--tx-2);
  line-height: 1.25;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  hyphens: none;
}
kbd {
  font-family: var(--font-code);
}
kbd.key {
  font-size: 0.7em;
  padding: 0.25em 0.375em 0.125em 0.375em;
  border-color: var(--tx-3);
  border-width: 0.0625rem;
  border-style: solid;
  border-radius: 0.25em;
  font-family: var(--font-code);
  color: var(--tx-2);
  white-space: nowrap;
}
samp {
  font-family: var(--font-code);
  font-size: 0.8em;
  color: var(--tx-2);
}
table {
  margin: 0 auto;
  border-collapse: collapse;
}
table thead {
  border-bottom: solid 0.0625rem currentColor;
}
table td,
table th {
  padding: 0.125em 0.5em;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
@media (min-width: 740px) {
  .header {
    flex-direction: row;
  }
}
.header__sitename {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  padding: 0;
  margin: 0.5em 0;
  line-height: 1;
  font-size: 2.25em;
  font-weight: normal;
  color: var(--tx-1);
}
.header__sitename a {
  display: flex;
  align-items: center;
}
.header__sitename svg {
  width: 100%;
  fill: var(--tx-1);
  transition: fill 0.256s ease-out 0s;
}
@media (min-width: 740px) {
  .header__sitename svg {
    width: 18.75rem;
  }
}
.header__sitename svg:hover {
  fill: var(--tx-2);
}
@media (min-width: 740px) {
  .header__sitename {
    flex-direction: row;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.horizontal-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  font-size: 1.125em;
}
.horizontal-nav__item {
  display: block;
  margin-left: 1em;
  color: var(--tx-2);
  text-decoration: none;
}
.horizontal-nav__item:hover {
  color: var(--tx-1);
}
.theme-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  margin: 0;
  border: none;
  border-radius: 0.125em;
  background-color: transparent;
  padding: 0;
  color: var(--tx-1);
  font-size: 1.25em;
  cursor: pointer;
}
.theme-button:focus-visible {
  outline: solid 2px var(--bd-3);
  outline-offset: 2px;
}
.theme-button:hover {
  background-color: var(--bd-2);
}
.theme-button:active {
  background-color: var(--bd-3);
}
.footer {
  height: 8em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  border-top: solid 0.0625rem var(--tx-3);
  font-size: 0.875em;
  text-align: center;
}
@media (min-width: 740px) {
  .footer {
    padding: 3em;
  }
}
.footer__disclaimer {
  margin: 0;
  padding: 0;
}
.footer__acknowledgment {
  margin: 0;
  padding: 0;
}
.footer__log {
  margin: 0;
  padding: 0;
}
.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  font-size: 1em;
}
.personal {
  width: 100%;
  padding: 2em 0;
  text-align: center;
}
.personal.personal--small {
  padding: 4em 0;
}
.personal__name {
  margin: 0.75em 0;
  font-size: 2em;
  font-weight: normal;
  font-variant: small-caps;
}
@media (min-width: 740px) {
  .personal__name {
    font-size: 2.25em;
  }
}
.personal__name.personal__name--small {
  margin: 1em 0;
  font-size: 1.2727272727em;
}
.personal__bio {
  font-size: 1em;
  text-align: center;
  text-indent: 0;
}
.personal__bio.personal__bio--small {
  font-size: 0.9090909091em;
}
.personal__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 2em;
}
.personal__links.personal__links--small {
  font-size: 1.4545454546em;
}
.personal__links li {
  display: block;
  margin: 0;
  line-height: 1;
}

.avatar {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  width: auto;
  max-width: 100%;
  height: 18.75rem;
}
.avatar image {
  cursor: pointer;
  filter: grayscale(1);
  transition: filter 0.512s ease-out 0s;
}
.avatar image:hover {
  filter: grayscale(0.125) brightness(1.1);
}

@media (min-width: 740px) {
  .avatar {
    height: 21.875rem;
  }
}

.blog-entry {
  padding: 1em 0;
}
.blog-header {
  font-size: 1.4545454546em;
  text-align: center;
}
.blog-title {
  margin: 0.5em 0;
  padding: 0.5em 0;
  font-weight: normal;
  border-top-color: var(--tx-3);
  border-top-style: double;
  border-top-width: 0.375rem;
  border-bottom-color: var(--tx-3);
  border-bottom-style: double;
  border-bottom-width: 0.375rem;
  font-variant: small-caps;
  color: var(--tx-1);
}
.blog-title__subtitle {
  color: var(--tx-2);
}
.blog-heading {
  margin: 1.5em 0.5em;
  padding: 0;
  text-indent: 0;
  line-height: 1.25;
  font-style: normal;
  hyphens: none;
}
.blog-content {
  line-height: 1.5;
}
.blog-footnote {
  padding: 2em 1em;
  font-size: 0.9em;
}
.blog-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  font-size: 0.6em;
  line-height: 1.5;
}
@media (min-width: 740px) {
  .blog-details {
    font-size: 0.5em;
  }
}
.blog-details__date {
  display: block;
}
.blog-details__tags {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}
.blog-details__tags__tag {
  padding: 0;
  margin: 0;
}
.blog-details__tags__tag a:link,
.blog-details__tags__tag a:visited,
.blog-details__tags__tag a:focus,
.blog-details__tags__tag a:hover {
  text-decoration: none;
}
.blog-details__tags__tag::before {
  content: '#';
}
.blog-details__tags__tag::after {
  content: ', ';
  padding-right: 0.1em;
}
.blog-details__tags__tag:last-child::after {
  content: none;
  padding-right: 0;
}
.page {
  display: block;
}
.page-title {
  margin: 1em 0;
  font-size: 1.5em;
  font-weight: normal;
  font-variant: small-caps;
}
.entry-list {
  margin: 2em 0;
  padding: 0;
  list-style: none;
  font-size: 0.7272727273em;
  text-indent: 0;
}
.entry {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  margin: 1.5em 0;
}
@media (min-width: 740px) {
  .entry {
    flex-direction: row;
  }
}
.entry__date {
  display: block;
  hyphens: none;
}
@media (min-width: 740px) {
  .entry__date {
    width: 12rem;
    padding-right: 2em;
    text-align: right;
  }
}
.entry__header {
  display: block;
}
.entry__header:link,
.entry__header:visited,
.entry__header:focus,
.entry__header:hover {
  text-decoration: none;
}
@media (min-width: 740px) {
  .entry__header {
    width: calc(100% - 12rem);
  }
}
.entry-date {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  font-size: 1em;
}
@media (min-width: 740px) {
  .entry-date {
    flex-direction: column-reverse;
  }
}
.entry-date__date {
  display: block;
  flex-grow: 1;
  color: var(--tx-2);
}
.entry-date__weekday {
  display: block;
  text-transform: capitalize;
}
.entry-date__weekday::after {
  content: ', ';
  padding-right: 0.25em;
}
@media (min-width: 740px) {
  .entry-date__weekday::after {
    content: none;
    padding-right: 0;
  }
}
@media (min-width: 740px) {
  .entry-date__weekday {
    font-size: 0.875em;
    font-style: initial;
  }
}
.entry-title {
  display: block;
  margin: 0 0 0.5em 0;
  padding: 0;
  font-size: 1.375em;
  font-weight: normal;
  font-variant: normal;
  text-align: left;
}
.entry-heading {
  display: block;
  margin: 0.5em 0;
  padding: 0;
  text-indent: 0;
  text-align: justify;
  line-height: 1.25em;
  font-size: 1em;
  hyphens: auto;
}
.page-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em 0;
  padding: 0;
  list-style: none;
}
.page-nav-item {
  text-align: center;
  display: block;
}
.page-nav-item.page-nav-item--current {
  flex-grow: 1;
}
.nav-icon {
  display: block;
  width: 1em;
  height: 1em;
  margin-top: -0.25em;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  text-align: center;
}
.nav-icon:link,
.nav-icon:visited,
.nav-icon:focus {
  text-decoration: none;
}
.nav-icon:hover {
  background-color: var(--tx-3);
  text-decoration: none;
}
.nav-icon.nav-icon--disabled {
  color: var(--tx-3);
}
.nav-icon.nav-icon--disabled:hover {
  background-color: transparent;
}
.nav-icon.nav-icon--first::after {
  content: '❮❮';
}
.nav-icon.nav-icon--previous::after {
  content: '❮';
}
.nav-icon.nav-icon--next::after {
  content: '❯';
}
.nav-icon.nav-icon--last::after {
  content: '❯❯';
}
.hdate {
  display: inline-block;
}
