playground-ide {
  font-size: 1rem;
  text-indent: 0;
  color: var(--tx-1);

  --playground-tab-bar-background: var(--bg-2);
  --playground-tab-bar-foreground-color: var(--tx-1);
  --playground-preview-toolbar-background: var(--bg-2);
  --playground-preview-toolbar-foreground-color: var(--tx-1);
  --playground-highlight-color: var(--tx-1);
  --playground-border: solid 1px var(--bd-1);

  --playground-code-font-family: var(--font-code);
  --playground-code-font-size: 0.875rem;
  --playground-code-line-height: 1.5;
  --playground-code-background: var(--bg-1);
  --playground-code-cursor-color: var(--tx-1);
  --playground-code-default-color: var(--tx-1);
  --playground-code-selection-background: var(--bg-2);
  --playground-code-gutter-background: var(--bg-1);
  --playground-code-gutter-border-right: 0px;
  --playground-code-linenumber-color: var(--tx-3);
  --playground-code-atom-color: var(--pu-1);
  --playground-code-attribute-color: var(--cy-1);
  --playground-code-builtin-color: var(--or-1);
  --playground-code-comment-color: var(--tx-3);
  --playground-code-def-color: var(--or-1);
  --playground-code-keyword-color: var(--gr-1);
  --playground-code-meta-color: var(--tx-3);
  --playground-code-number-color: var(--pu-1);
  --playground-code-operator-color: var(--tx-2);
  --playground-code-qualifier-color: var(--gr-1);
  --playground-code-string-color: var(--cy-1);
  --playground-code-string-2-color: var(--bl-1);
  --playground-code-tag-color: var(--gr-1);
  --playground-code-type-color: var(--or-1);
  --playground-code-variable-color: var(--bl-1);
  --playground-code-variable-2-color: var(--ye-1);
  --playground-code-variable-3-color: var(--tx-3);
  --playground-code-callee-color: var(--tx-3);
  --playground-code-property-color: var(--bl-1);
}
