/*********************************************************
* General
*/
pre[class*='language-'],
code[class*='language-'] {
  color: var(--tx-1);
  font-size: 1rem;
  text-shadow: none;
  font-family: var(--font-code);
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*='language-']::selection,
code[class*='language-']::selection,
pre[class*='language-']::mozselection,
code[class*='language-']::mozselection {
  text-shadow: none;
  background: var(--bg-2);
}
@media print {
  pre[class*='language-'],
  code[class*='language-'] {
    text-shadow: none;
  }
}
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  background: var(--bg-1);
  border: solid 1px var(--bd-1);
  border-radius: 0.25rem;
}
/*********************************************************
* Tokens
*/

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}

.namespace {
  opacity: 0.75;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--tx-3);
}

.token.punctuation,
.token.operator {
  color: var(--tx-2);
}

.token.constant {
  color: var(--ye-1);
}

.token.variable,
.token.property,
.token.attr-name {
  color: var(--bl-1);
}

.token.url,
.token.string,
.token.char,
.token.selector,
.token.attr-value,
.language-css .token.string,
.style .token.string {
  color: var(--cy-1);
}

.token.deleted,
.token.important {
  color: var(--re-1);
}

.token.inserted,
.token.atrule,
.token.tag,
.token.keyword {
  color: var(--gr-1);
}

.token.boolean,
.token.number,
.token.entity,
.token.symbol,
.token.regex {
  color: var(--pu-1);
}

.token.builtin,
.token.function,
.token.class-name {
  color: var(--or-1);
}

/*********************************************************
* Line highlighting
*/
pre[data-line] {
  position: relative;
}
pre[class*='language-'] > code[class*='language-'] {
  position: relative;
  z-index: 1;
}
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #f7ebc6;
  box-shadow: inset 5px 0 0 #f7d87c;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
