@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunrm.eot');
  src: url('fonts/cmunrm.eot?#iefix') format('embedded-opentype'),
    url('fonts/cmunrm.woff') format('woff'),
    url('fonts/cmunrm.ttf') format('truetype'),
    url('fonts/cmunrm.svg#cmunrm') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunbx.eot');
  src: url('fonts/cmunbx.eot?#iefix') format('embedded-opentype'),
    url('fonts/cmunbx.woff') format('woff'),
    url('fonts/cmunbx.ttf') format('truetype'),
    url('fonts/cmunbx.svg#cmunbx') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunti.eot');
  src: url('fonts/cmunti.eot?#iefix') format('embedded-opentype'),
    url('fonts/cmunti.woff') format('woff'),
    url('fonts/cmunti.ttf') format('truetype'),
    url('fonts/cmunti.svg#cmunti') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunbi.eot');
  src: url('fonts/cmunbi.eot?#iefix') format('embedded-opentype'),
    url('fonts/cmunbi.woff') format('woff'),
    url('fonts/cmunbi.ttf') format('truetype'),
    url('fonts/cmunbi.svg#cmunbi') format('svg');
  font-weight: bold;
  font-style: italic;
}

/* Icons */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/material-icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('fonts/fa-brands-400.eot');
  src: url('fonts/fa-brands-400.eot?#iefix') format('embedded-opentype'),
    url('fonts/fa-brands-400.woff2') format('woff2'),
    url('fonts/fa-brands-400.woff') format('woff'),
    url('fonts/fa-brands-400.ttf') format('truetype'),
    url('fonts/fa-brands-400.svg#fontawesome') format('svg');
}

.fab {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* KaTeX */
@font-face {
  font-family: 'KaTeX_AMS';
  src: url(fonts/KaTeX_AMS-Regular.woff2) format('woff2'),
    url(fonts/KaTeX_AMS-Regular.woff) format('woff'),
    url(fonts/KaTeX_AMS-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Caligraphic';
  src: url(fonts/KaTeX_Caligraphic-Bold.woff2) format('woff2'),
    url(fonts/KaTeX_Caligraphic-Bold.woff) format('woff'),
    url(fonts/KaTeX_Caligraphic-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Caligraphic';
  src: url(fonts/KaTeX_Caligraphic-Regular.woff2) format('woff2'),
    url(fonts/KaTeX_Caligraphic-Regular.woff) format('woff'),
    url(fonts/KaTeX_Caligraphic-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Fraktur';
  src: url(fonts/KaTeX_Fraktur-Bold.woff2) format('woff2'),
    url(fonts/KaTeX_Fraktur-Bold.woff) format('woff'),
    url(fonts/KaTeX_Fraktur-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Fraktur';
  src: url(fonts/KaTeX_Fraktur-Regular.woff2) format('woff2'),
    url(fonts/KaTeX_Fraktur-Regular.woff) format('woff'),
    url(fonts/KaTeX_Fraktur-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Main';
  src: url(fonts/KaTeX_Main-Bold.woff2) format('woff2'),
    url(fonts/KaTeX_Main-Bold.woff) format('woff'),
    url(fonts/KaTeX_Main-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Main';
  src: url(fonts/KaTeX_Main-BoldItalic.woff2) format('woff2'),
    url(fonts/KaTeX_Main-BoldItalic.woff) format('woff'),
    url(fonts/KaTeX_Main-BoldItalic.ttf) format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'KaTeX_Main';
  src: url(fonts/KaTeX_Main-Italic.woff2) format('woff2'),
    url(fonts/KaTeX_Main-Italic.woff) format('woff'),
    url(fonts/KaTeX_Main-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'KaTeX_Main';
  src: url(fonts/KaTeX_Main-Regular.woff2) format('woff2'),
    url(fonts/KaTeX_Main-Regular.woff) format('woff'),
    url(fonts/KaTeX_Main-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Math';
  src: url(fonts/KaTeX_Math-BoldItalic.woff2) format('woff2'),
    url(fonts/KaTeX_Math-BoldItalic.woff) format('woff'),
    url(fonts/KaTeX_Math-BoldItalic.ttf) format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'KaTeX_Math';
  src: url(fonts/KaTeX_Math-Italic.woff2) format('woff2'),
    url(fonts/KaTeX_Math-Italic.woff) format('woff'),
    url(fonts/KaTeX_Math-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'KaTeX_SansSerif';
  src: url(fonts/KaTeX_SansSerif-Bold.woff2) format('woff2'),
    url(fonts/KaTeX_SansSerif-Bold.woff) format('woff'),
    url(fonts/KaTeX_SansSerif-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_SansSerif';
  src: url(fonts/KaTeX_SansSerif-Italic.woff2) format('woff2'),
    url(fonts/KaTeX_SansSerif-Italic.woff) format('woff'),
    url(fonts/KaTeX_SansSerif-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'KaTeX_SansSerif';
  src: url(fonts/KaTeX_SansSerif-Regular.woff2) format('woff2'),
    url(fonts/KaTeX_SansSerif-Regular.woff) format('woff'),
    url(fonts/KaTeX_SansSerif-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Script';
  src: url(fonts/KaTeX_Script-Regular.woff2) format('woff2'),
    url(fonts/KaTeX_Script-Regular.woff) format('woff'),
    url(fonts/KaTeX_Script-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Size1';
  src: url(fonts/KaTeX_Size1-Regular.woff2) format('woff2'),
    url(fonts/KaTeX_Size1-Regular.woff) format('woff'),
    url(fonts/KaTeX_Size1-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Size2';
  src: url(fonts/KaTeX_Size2-Regular.woff2) format('woff2'),
    url(fonts/KaTeX_Size2-Regular.woff) format('woff'),
    url(fonts/KaTeX_Size2-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Size3';
  src: url(fonts/KaTeX_Size3-Regular.woff2) format('woff2'),
    url(fonts/KaTeX_Size3-Regular.woff) format('woff'),
    url(fonts/KaTeX_Size3-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Size4';
  src: url(fonts/KaTeX_Size4-Regular.woff2) format('woff2'),
    url(fonts/KaTeX_Size4-Regular.woff) format('woff'),
    url(fonts/KaTeX_Size4-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Typewriter';
  src: url(fonts/KaTeX_Typewriter-Regular.woff2) format('woff2'),
    url(fonts/KaTeX_Typewriter-Regular.woff) format('woff'),
    url(fonts/KaTeX_Typewriter-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
