@import '_variables.css';
@import '_syntax.css';
@import '_font.css';
@import '_fa.css';
@import '_katex.css';
@import '_normalize.css';

:root,
body {
  min-height: 100vh;
  background-color: $color-accent;
  background-color: $background-primary;
  color: mix($text-primary, $background-primary, 90%);
  font-size: 16px;
  font-family: 'Computer Modern Serif', serif;
  font-weight: normal;
  background: $background-primary;
  text-rendering: geometricPrecision;
}

::-moz-selection {
  background-color: $text-primary;
  color: $background-primary;
}
::selection {
  background-color: $text-primary;
  color: $background-primary;
}

main {
  flex-grow: 1;
  text-align: justify;
  font-size: 18px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2.5em 0 1em 0;
    font-weight: normal;
    font-variant: small-caps;
    text-align: center;
  }
  p {
    margin: 2em 0;
    line-height: 1.5;
    text-indent: 2em;
    word-spacing: normal;
    hyphens: auto;
  }
  ul,
  ol {
    margin: 2em 0 2em 2em;
  }
  li {
    margin: 1em 0;
    hyphens: auto;
  }
  aside {
    margin: 1em 0 1em 2.2222222em;
    padding: 0.125em 0 0.125em 2.2222222em;
    border-left-style: solid;
    border-left-color: $color-accent;
    border-left-width: 0.25em;
    font-size: 0.90909090909em;
    line-height: 1.5;
    > p {
      margin: 0.5em 0;
      text-indent: 0;
      hyphens: auto;
    }
  }
  a:link,
  a:visited,
  a:focus {
    text-decoration: underline;
    text-decoration-line: 1px;
    text-decoration-style: solid;
    text-decoration-color: $color-accent;
  }
  a:hover {
    text-decoration-color: currentColor;
  }

  @media (min-width: $mid) {
    font-size: 22px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  min-height: 100vh;

  @media (min-width: $mid) {
    width: 600px;
  }
  @media (min-width: $wide) {
    width: 700px;
  }
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul,
ol {
  padding-left: 1em;
}

blockquote {
  position: relative;
  margin: 1em 0 1em 2em;
  padding: 0.5em 0 0.5em 2em;
  font-size: 0.95454545455em;
  > p {
    margin: 0 0 0.5em 0;
    font-style: italic;
    text-indent: 0;
  }
  > footer {
    line-height: 1;
    font-size: 0.85714285714em;
    &::before {
      content: '— ';
    }
  }
  &::before {
    position: absolute;
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 4em;
    font-weight: bold;
    color: $color-accent;
    content: '“';
  }
}

figure {
  display: block;
  padding: 0;
  margin: 0;
  margin: 2em 0;

  > img {
    display: block;
    margin: 0 auto;
    width: 100%;
    min-width: 100%;
  }
  > figcaption {
    display: block;
    padding: 1em 2.5em;
    text-align: justify;
    line-height: 1.25;
    hyphens: auto;
    font-size: 16px;
  }
}

a:link,
a:visited {
  color: $text-secondary;
  text-decoration: none;
  transition-property: color, text-decoration;
  transition-duration: 256ms;
  transition-timing-function: ease-out;
  transition-delay: 0ms;
}
a:hover,
a:focus {
  color: $text-primary;
}

code {
  border-radius: 0.25em;
  padding: 0.25em 0.375em 0.25em 0.375em;
  background-color: $color-accent;
  white-space: nowrap;
  font-family: 'JetBrains Mono', 'Fira Code', 'Droid Sans Mono', 'Courier New',
    Courier, monospace;
  font-size: 0.875rem;
  color: $text-primary;
}

pre {
  padding: 1rem;
  border-radius: 0rem;
  overflow: auto;
  background-color: $color-accent;
  font-size: 0.875rem;
  line-height: 1.5;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  hyphens: none;
  > code,
  > samp,
  > kbd {
    font-size: 0.875rem;
    border-style: none;
    background-color: transparent;
    padding: 0;
    color: $text-secondary;
    line-height: 1.5;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    hyphens: none;
  }
}

kbd {
  font-family: 'JetBrains Mono', 'Fira Code', 'Droid Sans Mono', 'Courier New',
    Courier, monospace;
}
kbd.key {
  font-size: 0.7em;
  padding: 0.25em 0.375em 0.125em 0.375em;
  border-color: $color-accent;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25em;
  font-family: 'JetBrains Mono', 'Fira Code', 'Droid Sans Mono', 'Courier New',
    Courier, monospace;
  color: $text-secondary;
  white-space: nowrap;
}

samp {
  font-family: 'JetBrains Mono', 'Fira Code', 'Droid Sans Mono', 'Courier New',
    Courier, monospace;
  font-size: 0.8em;
  color: $text-secondary;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

table thead {
  border-bottom: solid 1px currentColor;
}

table td,
table th {
  padding: 0.125em 0.5em;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  @media (min-width: $mid) {
    flex-direction: row;
  }
}
.header__sitename {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  padding: 0;
  margin: 0.5em 0;
  line-height: 1;
  font-size: 2.25em;
  font-weight: normal;
  color: $text-primary;
  a {
    display: flex;
    align-items: center;
  }
  svg {
    width: 100%;
    fill: $color-primary;
    transition: fill 0.256s ease-out 0s;
    @media (min-width: $mid) {
      width: 300px;
    }
  }
  svg:hover {
    fill: $color-secondary;
  }

  @media (min-width: $mid) {
    flex-direction: row;
  }
}
.header__nav {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.horizontal-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  font-size: 1.125em;
}
.horizontal-nav__item {
  display: block;
  margin-left: 1em;
  color: $text-secondary;
  text-decoration: none;
}
.horizontal-nav__item:hover {
  color: $text-primary;
}

.footer {
  height: 8em;
  padding: 2em 3em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  border-top: solid 1px $color-accent;
  font-size: 0.875em;
  text-align: center;

  @media (min-width: $mid) {
    padding: 4em 6em;
  }
}
.footer__disclaimer {
  margin: 0;
  padding: 0;
}
.footer__acknowledgment {
  margin: 0;
  padding: 0;
}
.footer__log {
  margin: 0;
  padding: 0;
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  font-size: 1em;
}
.personal {
  width: 100%;
  padding: 2em 0;
  text-align: center;

  &.personal--small {
    padding: 4em 0;
  }
}
.personal__name {
  margin: 1em 0;
  font-size: 2em;
  font-weight: normal;
  font-variant: small-caps;

  @media (min-width: $mid) {
    font-size: 2.5em;
  }

  &.personal__name--small {
    margin: 1em 0;
    font-size: 1.27272727273em;
  }
}
.personal__bio {
  font-size: 1.125em;
  text-align: center;
  text-indent: 0;

  &.personal__bio--small {
    font-size: 0.90909090909em;
  }
}
.personal__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 2em;

  &.personal__links--small {
    font-size: 1.45454545455em;
  }
  li {
    display: block;
    padding-right: 0.5em;
  }
  li:last-child {
    padding-right: 0;
  }
}
.avatar {
  display: block;
  position: relative;
  height: 200px;
  background-image: url('/images/ornament-1.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: filter 0.512s ease-out 0s;
  filter: grayscale(1);

  &:hover {
    filter: grayscale(0.125) brightness(1.1);
  }

  > .avatar-photo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    background-image: url('/images/author.png');
    background-repeat: no-repeat;
    background-position: calc(50%) calc(50% - 1px);
    background-size: 82px;
  }

  @media (min-width: $mid) {
    height: 300px;

    > .avatar-photo {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;
      background-image: url('/images/author.png');
      background-repeat: no-repeat;
      background-position: calc(50%) calc(50% - 2px);
      background-size: 124px;
    }
  }
}

.blog-entry {
  padding: 1em 0;
}
.blog-header {
  font-size: 1.45454545455em;
  text-align: center;
}
.blog-title {
  margin: 0.5em 0;
  padding: 0.5em 0;
  font-weight: normal;
  border-top-color: $color-accent;
  border-top-style: double;
  border-top-width: 6px;
  border-bottom-color: $color-accent;
  border-bottom-style: double;
  border-bottom-width: 6px;
  font-variant: small-caps;
  color: $text-primary;
}
.blog-title__subtitle {
  color: $text-secondary;
}
.blog-heading {
  margin: 1.5em 0.5em;
  padding: 0;
  text-indent: 0;
  line-height: 1.25;
  font-style: normal;
  hyphens: none;
}
.blog-content {
  line-height: 1.5;
}
.blog-footnote {
  padding: 2em 1em;
  font-size: 0.9em;
}
.blog-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  font-size: 0.6em;
  line-height: 1.5;

  @media (min-width: $mid) {
    font-size: 0.5em;
  }
}
.blog-details__date {
  display: block;
}
.blog-details__tags {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}
.blog-details__tags__tag {
  padding: 0;
  a:link,
  a:visited,
  a:focus,
  a:hover {
    text-decoration: none;
  }
}
.blog-details__tags__tag::before {
  content: '#';
}
.blog-details__tags__tag::after {
  content: ', ';
  padding-right: 0.1em;
}
.blog-details__tags__tag:last-child::after {
  content: none;
  padding-right: 0;
}

.page {
  display: block;
}
.page-title {
  margin: 1em 0;
  font-size: 1.5em;
  font-weight: normal;
  font-variant: small-caps;
}

.entry-list {
  margin: 2em 0;
  padding: 0;
  list-style: none;
  font-size: 0.727272727272727em;
  text-indent: 0;
}

.entry {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  margin: 1.5em 0;

  @media (min-width: $mid) {
    flex-direction: row;
  }
}
.entry__date {
  display: block;

  @media (min-width: $mid) {
    width: 192px;
    padding-right: 2em;
    text-align: right;
  }
}
.entry__header {
  display: block;

  &:link,
  &:visited,
  &:focus,
  &:hover {
    text-decoration: none;
  }

  @media (min-width: $mid) {
    width: calc(100% - 192px);
  }
}

.entry-date {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  font-size: 1em;

  @media (min-width: $mid) {
    flex-direction: column-reverse;
  }
}
.entry-date__date {
  display: block;
  flex-grow: 1;
  color: $text-secondary;
}
.entry-date__weekday {
  display: block;
  text-transform: capitalize;
  &::after {
    content: ', ';
    padding-right: 0.25em;
    @media (min-width: $mid) {
      content: none;
      padding-right: 0;
    }
  }

  @media (min-width: $mid) {
    font-size: 0.875em;
    font-style: initial;
  }
}

.entry-title {
  display: block;
  margin: 0 0 0.5em 0;
  padding: 0;
  font-size: 1.375em;
  font-weight: normal;
  font-variant: normal;
  text-align: left;
}
.entry-heading {
  display: block;
  margin: 0.5em 0;
  padding: 0;
  text-indent: 0;
  text-align: justify;
  line-height: 1.25em;
  font-size: 1em;
  hyphens: auto;
}

.page-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em 0;
  padding: 0;
  list-style: none;
}
.page-nav-item {
  text-align: center;
  display: block;
}
.page-nav-item.page-nav-item--current {
  flex-grow: 1;
}

.nav-icon {
  display: block;
  width: 1em;
  height: 1em;
  margin-top: -0.25em;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  text-align: center;
  &:link,
  &:visited,
  &:focus {
    text-decoration: none;
  }
  &:hover {
    background-color: $color-accent;
    text-decoration: none;
  }
}
.nav-icon.nav-icon--disabled {
  color: $color-accent;
  &:hover {
    background-color: transparent;
  }
}
.nav-icon.nav-icon--first::after {
  content: '❮❮';
}
.nav-icon.nav-icon--previous::after {
  content: '❮';
}
.nav-icon.nav-icon--next::after {
  content: '❯';
}
.nav-icon.nav-icon--last::after {
  content: '❯❯';
}

.hdate {
  display: inline-block;
}
.hdate__weekday {
  text-transform: capitalize;
}
.hdate__monthday {
  text-transform: capitalize;
}
.hdate__month {
  text-transform: capitalize;
}
.hdate__year {
  text-transform: capitalize;
}
